* {
  border: 1px solid pink;
}
html {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #445;
}

img {
  display: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
