html {
  height: 100vh;
  width: 100vw;
  background-color: #445;
}
body {
  font-family: monospace;
  font-size: 3vmin;
  background-color: #445;
}
img {
  display: none;
}

.App {
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  color: pink;
  margin: 3vh;
}

button {
  margin: 0 10px;
  font-family: inherit;
  font-size: 17px;
  border: none;
  width: 100px;
  height: 7vh;
}
